<h1>List: <%=@list.name%></h1>
<p><%=@list.description%></p>

<%@list.tasks.each do |t|%>

<div onClick="lineText('elem<%=t.id%>');" name="elem<%=t.id%>" style="text-align: left; margin-left: 10%">
	<p>
		<del>
		<%=if(t.complite) then '<del>'; end%>
		<%=t.name()%> 
		<%=if(t.complite) then '</del>'; end%>
		</del>
		<%=link_to "complite", :controller => 'lists', :action => 'finish_task', :task_id => t.id%> | <%=link_to "delete", list_task_url(t), :method => :delete%>
	</p>
</div>
<%end%>

<hr />

<%=form_for :task, :url => {:controller => 'lists', :action => 'create_task'} do |f|%>

	<%=f.text_field :name%>
	<%=f.submit "create"%>

<%end%>

<p> <%=link_to "back", lists_url%></p>