<h1>List: <%=@list.name%></h1>
<p><%=@list.description%></p>

<%@list.tasks.each do |t|%>

<div onClick='alert("hello")'>
	<p><%=check_box :t, :complite%><%=t.name%></p>
</div>
<%end%>

<hr />

<%=form_for @list.tasks, :url => {:controller => 'lists', :action => 'create_task'} do |f|%>

	<%=f.text_field :name%>
	<%=f.submit "create"%>

<%end%>

<p> <%=link_to "back", lists_url%></p>